body {
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: unset;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main {
  background-color: #ffffff;
}

.drag {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;

  .avatar {
    margin-right: 1ex;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }
}

.item {
  display: flex;
}

.loading {
  position: fixed;
  top: 40vh;
  left: calc(50vw - 18px);
}

.list-loading {
  margin: 8em auto;
}
