body {
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: unset;
  overflow-x: hidden;
  background: #ffffff;
  user-select: none;
}

.list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.main {
  background-color: #ffffff;
}

.drag {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 2ex;

  .avatar {
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    margin-right: 2ex;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }

  button {
    margin-right: 10px;
  }
}

.item {
  display: flex;
}

.loading {
  position: fixed;
  top: 40vh;
  left: calc(50vw - 18px);
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
  cursor: pointer;
  box-sizing: border-box;

  background-color: #ffffff;
  border-radius: 50%;
  //box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  border: unset;
  transition: all 0.3s ease 0s;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }
}

.waiting .close {
  margin-left: unset;
  position: fixed;
  top: calc(40vh + 58px);
  left: 50vw;
  transform: translateX(-50%);
  cursor: pointer;
}

.list-loading {
  margin: 8em auto;
}

.no-data {
  margin: 8em auto;
  color: #b5b4b4;
}
