.settings {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  padding: 0 2em;
}

.lang {
  display: flex;
  align-items: center;
}

.ctrl-btns {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 12em;

    &:not(:first-child) {
      margin-left: 2em;
    }
  }
}
