.titlebar {
    height: 30px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    box-shadow: rgb(149 157 165 / 20%) 0px 1px 2px;
    background-color: rgb(242, 243, 245);
    padding: 0 2px;
}

.titlebarBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    &:hover {
        background-color: rgb(149 157 165 / 20%);
    }
}