/* Regular */
@font-face {
  font-family: 'AlbertSans';
  font-style: normal;
  font-weight: 410;
  font-display: swap;
  src: url('src/assets/fonts/AlbertSans-VariableFont_wght.ttf') format('truetype');
}

/* Italic */
@font-face {
  font-family: 'AlbertSans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('src/assets/fonts/AlbertSans-Italic-VariableFont_wght.ttf') format('truetype');
}

/* Bold */
@font-face {
  font-family: 'AlbertSans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('src/assets/fonts/AlbertSans-VariableFont_wght.ttf') format('truetype');
}

