/* Beaufort for LOL Bold */
@font-face{
  font-family:"Beaufort for LOL";
  src: url("/src/assets/fonts/BeaufortforLOL-Bold.woff") format("woff");
  font-weight:700;
  font-style:normal;
}

/* Beaufort for LOL Light */
@font-face{
  font-family:"Beaufort for LOL";
  src: url("/src/assets/fonts/BeaufortforLOL-Light.woff") format("woff");
  font-weight:200;
  font-style:normal;
}

/* Beaufort for LOL Medium */
@font-face{
  font-family:"Beaufort for LOL";
  src: url("/src/assets/fonts/BeaufortforLOL-Medium.woff") format("woff");
  font-weight:500;
  font-style:normal;
}

/* Beaufort for LOL Regular */
@font-face{
  font-family:"Beaufort for LOL";
  src: url("/src/assets/fonts/BeaufortforLOL-Regular.woff") format("woff");
  font-weight:400;
  font-style:normal;
}

/* Spiegel Bold */
@font-face{
  font-family:"Spiegel";
  src: url("/src/assets/fonts/Spiegel-Bold.woff") format("woff");
  font-weight:700;
  font-style:normal;
}


/* Spiegel Regular */
@font-face{
  font-family:"Spiegel";
  src:url("/src/assets/fonts/Spiegel-Regular.woff") format("woff");
  font-weight:400;
  font-style:normal;
}
