.previewCard {
  min-width: 360px;
  margin: 0 5vw;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  max-height: 72vh;
  overflow-y: clip;
}

//.list {
//  min-height: 80px;
//  max-height: 500px;
//  padding-bottom: 10px;
//}

.item {
  display: flex;
  height: 4rem;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;

  &:not(:last-child) {
    box-shadow: 0 4px 1px -2px rgba(149, 157, 165, 0.05);
  }

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
  }
}

img {
  user-select: none;

  &.main {
  }

  &.normal {
    margin: 0 4px;
  }
}

.applyBtn {
  margin-left: auto;

  .loading {
    animation: spinning 1s infinite linear;
  }
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}
