.import {
  height: 100%;
  position: relative;

  .back {
    display: flex;
    margin: 2.6em auto 0;
    width: 12em;
  }

  > svg {
    display: flex;
    margin: 8em auto 10em;
    animation: pop 2s cubic-bezier(0.4, 0, 0.2, 1) 3;
  }
}

@keyframes pop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
