.import {
  position: relative;
  height: 100%;
  padding-top: 6em;

  &.ing {
    padding-top: 0;
  }

  .back {
    display: flex;
    margin: 1.4em auto 0;
    width: 12em;
  }

  > svg {
    display: flex;
    margin: 0 auto 2em;
    animation: pop 2s cubic-bezier(0.4, 0, 0.2, 1) 3;
  }

  .failed {
    display: flex;
    flex-direction: column;
    margin-top: unset;

    color: #ab1300;
    text-transform: uppercase;
    text-align: center;
  }

  .rejected {
    text-align: center;

    ul {
      max-height: 7em;
      overflow: hidden auto;
      padding: unset;
      margin: 1ex 0 2em;
      line-height: 3ex;
      list-style: none;
      font-weight: normal;
    }
  }
}

@keyframes pop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
