.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1ex 1em 1ex 2ex;

  &:hover {
    background-color: #f6f6f6;
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 2em;

    .detail {
      font-size: 12px;
    }
  }

  .apply {
    height: 48px;
    width: 48px;
    border-radius: 10px;
    //margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    -webkit-app-region: no-drag;
    transition: all linear 0.2s;

    &:hover {
      cursor: pointer;
    }
  }

  .preview {
    display: flex;
    align-items: center;
    width: max-content;
  }

  .preview > div {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;

    &.big {
      margin: 0 1ex;
      background-color: #000000;
    }

    &.sub,
    &.primary {
      height: 24px;
      width: 24px;
    }

    &.8000 {
      background-image: url('~src/assets/runes/8000.png');
    }

    &.8008 {
      background-image: url('~src/assets/runes/8008.png');
    }

    &.8021 {
      background-image: url('~src/assets/runes/8021.png');
    }

    &.8112 {
      background-image: url('~src/assets/runes/8112.png');
    }

    &.8128 {
      background-image: url('~src/assets/runes/8128.png');
    }

    &.8214 {
      background-image: url('~src/assets/runes/8214.png');
    }

    &.8230 {
      background-image: url('~src/assets/runes/8230.png');
    }

    &.8351 {
      background-image: url('~src/assets/runes/8351.png');
    }

    &.8360 {
      background-image: url('~src/assets/runes/8360.png');
    }

    &.8437 {
      background-image: url('~src/assets/runes/8437.png');
    }

    &.8465 {
      background-image: url('~src/assets/runes/8465.png');
    }

    &.8005 {
      background-image: url('~src/assets/runes/8005.png');
    }

    &.8010 {
      background-image: url('~src/assets/runes/8010.png');
    }

    &.8100 {
      background-image: url('~src/assets/runes/8100.png');
    }

    &.8124 {
      background-image: url('~src/assets/runes/8124.png');
    }

    &.8200 {
      background-image: url('~src/assets/runes/8200.png');
    }

    &.8229 {
      background-image: url('~src/assets/runes/8229.png');
    }

    &.8300 {
      background-image: url('~src/assets/runes/8300.png');
    }

    &.8358 {
      background-image: url('~src/assets/runes/8358.png');
    }

    &.8400 {
      background-image: url('~src/assets/runes/8400.png');
    }

    &.8439 {
      background-image: url('~src/assets/runes/8439.png');
    }

    &.9923 {
      background-image: url('~src/assets/runes/9923.png');
    }
  }
}
