.builds {
  flex: 1;
  padding-right: 1ex;
  padding-left: 1ex;
}

.sourceList {
  height: 340px;
  overflow: hidden auto;
  margin: 1rem 0 1rem;
  padding-bottom: 1ex;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.source {
  text-transform: uppercase;
  font-weight: 500;
}

.version {
  margin-left: 1ex;
}

.mode {
  margin-left: 1ex;
}

.modes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 14px;
  padding-right: 1em;

  .map {
    margin-right: 0.6ex;
  }
}

.btns {
  display: flex;
  align-items: center;

  > * {
    margin-right: 1em;
  }
}

.prepare {
  margin-right: auto;
  display: flex;
  align-items: center;

  .spin {
    color: #108944;
    margin-right: 0.5ex;
    animation: spinning 1s infinite linear;
  }
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}
