.builds {
  flex: 1;
  padding-right: 1ex;
  padding-left: 1ex;
}

.sourceList {
}

.source {
  text-transform: uppercase;
}

.version {
  margin-left: 1ex;
}

.mode {
  margin-left: 1ex;
}

.modes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 14px;

  .map {
    margin-right: 1ex;
  }
}

.btns {
  display: flex;
  align-items: center;

  > * {
    margin-right: 10px;
  }
}

.prepare {
  margin-right: auto;
  display: flex;
  align-items: center;

  .spin {
    color: #108944;
    margin-right: 0.5ex;
    animation: spinning 1s infinite linear;
  }
}

@keyframes spinning {
  100% {
    transform: rotate(360deg);
  }
}
