.titlebar {
  height: 30px;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  box-shadow: rgb(149 157 165 / 20%) 0px 1px 2px;
  background-color: rgb(242, 243, 245);
}

.appName {
  margin-left: 10px;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;

  .name {
    margin-left: 2px;
    font-weight: bold;
  }
}

.titlebarBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &.warn {
    padding-right: 2px;
  }

  &:hover {
    background-color: rgb(149 157 165 / 20%);

    &.warn {
      background-color: rgb(232, 17, 35);
      color: white;
    }
  }
}
