.nav {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  //width: 160px;

  .header {
    display: flex;
    justify-content: center;
  }

  .lol {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 3ex;

    img {
      height: 24px;
      width: 24px;
      filter: grayscale(80%);
    }

    &.online {
      img {
        filter: none;
      }
    }
  }
}
