.waiting-list {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding-right: 1em;

  h3 {
    padding-left: 8vw;
    font-weight: 500;

    b {
      font-style: italic;
      text-transform: uppercase;
      color: #2764f1;
      margin-left: 1em;
    }
  }

  ul {
    padding-left: 8vw;
    padding-top: 0;
    margin: 0;
    font-weight: normal;
    height: 65vh;
    overflow-y: auto;
  }
}
