.footer {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  color: #b5b4b4;
  font-size: 1.2ex;
  font-family: SF Mono, Microsoft YaHei, Consolas, sans-serif;

  .star {
    display: flex;
    margin-left: 1ex;
    cursor: pointer;

    svg {
      fill: #ffc043;
    }
  }
}
