.spells {
  ol {
	margin: unset;

  }

  li {
	&:not(:last-child) {
	  margin-bottom: 0.4em;
	}

	img {
	  width: 2em;
	  height: 2em;

	  &:not(:last-child) {
		margin-right: 0.4em;
	  }
	}
  }
}

.avatar {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  > img {
	width: 4em;
	height: 4em;
  }
}

