.container {
  display: flex;
  flex-direction: column;
  //height: 100vh;
  padding: 1em;

  .import {
	margin: 0.6em auto;
	width: 10em;
  }

  .champions {
	display: flex;
	height: 60vh;
	overflow-y: auto;
	margin-top: 1em;

	> * {
	  flex: 1;
	}
  }

  .info {
	display: flex;
	align-items: center;

	code {
	  margin-left: 0.5em;
	  padding: 0 0.4em;
	  cursor: pointer;
	  background-color: rgb(237, 243, 253);
	}

	svg {
	  width: 1.2em;
	  height: 1.2em;
	}
  }
}
