.container {
  display: flex;
  flex-direction: column;
  //height: 100vh;
  padding: 1em;

  .import {
	margin: 2em auto;
	width: 10em;
  }

  .champions {
	display: flex;

	> * {
	  flex: 1;
	}
  }
}
