.container {
  display: flex;
  flex-direction: column;
  padding: 1em;

  .title {
	margin-bottom: 2ex;
	user-select: none;

	span {
	  box-shadow: 0 4px 0px 0px #276EF1;
	}
  }

  .champions {
	display: flex;
	height: 60vh;
	overflow-y: auto;
	margin-top: 1em;

	> * {
	  flex: 1;
	}
  }

  .info {
	display: flex;
	align-items: center;
	margin-bottom: 0.6ex;

	code {
	  margin-left: 0.5em;
	  padding: 0 0.4em;
	  cursor: pointer;
	  background-color: rgb(237, 243, 253);
	}

	svg {
	  width: 1.2em;
	  height: 1.2em;
	}
  }

  .sources {
	display: flex;
	flex-direction: column;
	margin-top: 1.4ex;
  }

  .control {
	display: flex;
	margin-top: 4ex;
	margin-bottom: 5ex;

	.import {
	  width: 10em;
	  background-color: #276EF1;
	}

	.keep-old {
	  display: flex;
	  align-self: flex-end;
	}
  }
}

.app-ver {
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  color: #b5b4b4;
  font-size: 1.4ex;
}
