@font-face {
  font-family: 'Cinzel Decorative';
  src: url('~src/assets/fonts/CinzelDecorative-Regular.ttf');
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;

  .title {
    margin-bottom: 1.6rem;
    user-select: none;
    display: flex;
    align-items: center;
    font-family: 'Cinzel Decorative';
    -webkit-user-select: none;
    -webkit-app-region: drag;

    img {
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }

    span {
      box-shadow: 0 4px 0 0 #276ef1;
    }
  }

  .folder-tip {
    display: flex;
    align-self: flex-start;
    align-items: center;
    height: 2.4em;
    margin-bottom: 1em;
    padding: 0.2em 1em;
    line-height: 2.4em;

    color: #000000;
    font-weight: 500;
    font-size: 1.2ex;

    svg {
      margin-right: 1em;
    }
  }

  .champions {
    display: flex;
    height: 60vh;
    overflow-y: auto;
    margin-top: 1em;

    > * {
      flex: 1;
    }
  }

  .info {
    display: flex;
    align-items: center;
    margin-bottom: 0.6ex;

    code {
      margin-left: 0.5em;
      padding: 0 0.4em;
      cursor: pointer;
      background-color: rgb(237, 243, 253);
    }

    svg {
      width: 1.2em;
      height: 1.2em;
    }
  }

  .sources {
    display: flex;
    flex-direction: column;
    //margin-top: 1.4ex;
    overflow-y: auto;
    max-height: 250px;

    .source-title {
      font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
        helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, Arial, sans-serif;

      > strong {
        position: relative;

        &:after {
          content: '';
          background-image: url('~src/assets/icons/zap.svg');
          background-size: 100% 100%;
          background-repeat: no-repeat;

          height: 0.6ex;
          width: 100%;
          display: block;
          position: absolute;
          left: 0;
        }
      }
    }

    .move {
      margin-left: auto;
      margin-right: 1em;
      color: #cbcbcb;

      &:hover {
        cursor: move;
      }
    }
  }

  .folder-first {
    display: flex;
    margin-top: 4ex;
    color: #d44333;
  }

  .control {
    display: flex;
    margin-top: 1ex;
    margin-bottom: 1ex;

    .import {
      width: 10em;
      background-color: #276ef1;
    }

    .keep-old {
      display: flex;
      align-self: flex-end;
    }
  }
}
